[run]
omit =
  sunkit_iamge/cython_version*
  sunkit_iamge/extern/*
  sunkit_iamge/version*
  sunkit_iamge/data/sample.py
  sunkit_iamge/data/_sample.py
  */sunkit_iamge/cython_version*
  */sunkit_iamge/extern/*
  */sunkit_iamge/version*
  */sunkit_iamge/data/sample.py
  */sunkit_iamge/data/_sample.py
