[run]
omit =
  sunkit_image/cython_version*
  sunkit_image/extern/*
  sunkit_image/version*
  sunkit_image/data/sample.py
  sunkit_image/data/_sample.py
  */sunkit_image/cython_version*
  */sunkit_image/extern/*
  */sunkit_image/version*
  */sunkit_image/data/sample.py
  */sunkit_image/data/_sample.py
