variables:
  Agent.Source.Git.ShallowFetchDepth: 1
  CI_NAME: Azure Pipelines
  CI_BUILD_ID: $(Build.BuildId)
  CI_BUILD_URL: "https://dev.azure.com/sunpy/sunkit-image/_build/results?buildId=$(Build.BuildId)"

jobs:
- template: azure-templates.yml
  parameters:
    name: Linux_36_online
    os: linux
    tox: py36-online

- template: azure-templates.yml
  parameters:
    name: macOS_37_online
    os: macos
    tox: py37-online

- template: azure-templates.yml
  parameters:
    name: Windows_36_online
    os: windows
    tox: py36-online

- template: azure-templates.yml
  parameters:
    name: Linux_36_Conda_offline
    os: linux
    tox: conda
