name: $(BuildDefinitionName)_$(Date:yyyyMMdd)$(Rev:.rr)
variables:
  CI_NAME: Azure Pipelines
  CI_BUILD_ID: $(Build.BuildId)
  CI_BUILD_URL: "https://dev.azure.com/sunpy/sunkit_image/_build/results?buildId=$(Build.BuildId)"

resources:
  repositories:
  - repository: OpenAstronomy
    type: github
    endpoint: sunpy
    name: OpenAstronomy/azure-pipelines-templates
    ref: master

trigger:
  branches:
    include:
    - '*'
  tags:
    include:
    - 'v*'
    exclude:
    - '*dev*'
    - '*pre*'
    - '*post*'

jobs:
- template: run-tox-env.yml@OpenAstronomy
  parameters:
    coverage: codecov
    posargs:
    envs:
      - macos: py37
        name: py37_offline

      - windows: py36
        name: py36_offline

      - linux: py38-online
        name: py38_online

      - linux: py38-devdeps
        name: py38_devdeps

      - linux: py36-oldestdeps
        name: py36_oldestdeps

      - linux: codestyle
        name: codestyle

# On branches which aren't master, and not Pull Requests, build the wheels but only upload them on tags
- ${{ if and(ne(variables['Build.Reason'], 'PullRequest'), not(contains(variables['Build.SourceBranch'], 'master'))) }}:
  - template: publish.yml@OpenAstronomy
    parameters:
      # Only Upload to PyPI on tags
      ${{ if startsWith(variables['Build.SourceBranch'], 'refs/tags/') }}:
        pypi_connection_name : 'PyPI'
      test_extras: 'dev'
      test_command: 'pytest -p no:warnings --doctest-rst -m "not figure" --pyargs sunkit_image'
      targets:
        - sdist
      dependsOn:
        - py37_offline
        - py36_offline
        - py38_online
